<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand text-primary" style="font-size: 25px;" routerLinkActive="active" >Dating App</a>

        <ul *ngIf="isLoggedIn" class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/list" routerLinkActive="active">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
          </li>
        </ul>
      
        <!-- DropDown CSS we are getting from ngx bootstrap valor-software.com at we use "dropdown at the place from where 
          we actually want to start the dropdown then we use dropdwontoggle at a place where we want the toggle then we *dropdownMenu
          where we want to start our dropdown" -->

        <div *ngIf="isLoggedIn" class="dropdown" dropdown> 
            <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>Welcome {{user.username | titlecase}}</a>
            <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item">Edit Profile</a>
                <button class="dropdown-item" (click)="logout()">LogOut</button>
            </div>
        </div>

        <form *ngIf="!isLoggedIn" #logInform="ngForm" class="d-flex" role="search" (ngSubmit)="login()" autocomplete="off">
          <input
            name="username"
            [(ngModel)]="model.username"
            class="form-control me-2"
            type="text"
            placeholder="Username">
          <input 
          name="password"
          [(ngModel)]="model.password"
          class="form-control me-2" 
          type="password" 
          placeholder="Password">
          <button class="btn btn-outline-success" type="submit" [disabled]="logInClicked">Login</button>
        </form>
      </div>
  </nav>